

body {
  margin: 0;
  padding: 0;
  font-family: 'Courier New', Courier, monospace;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header {
  padding-top: 2rem;
  padding-left: 1rem;
  height: 6rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: green;
}

.scoreDiv{
  padding-right: 3rem;
}

.cardlistDiv {
  display: flex;
  flex-wrap: wrap;
}

img {
  height: 50%;
  max-width: 400px;
  max-height: 400px;
}

.singleCard {
  margin: 0.6rem;
  text-align: center;
}